/* COLORS: https://colorhunt.co/palette/212984
    FONT: https://fonts.google.com/specimen/Karla?vfonly=true&category=Sans+Serif
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap" rel="stylesheet">
*/

/* General stylings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 62.5%;
    background-color: #f2f2f2;
}

/* Header stylings */
.main-header {
    width: 100%;
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    color: #f2f2f2;
    background-color: #222831;
}

.home-logo {
    font-size: 3.5rem;
    font-weight: 400;
    cursor: pointer;
}

.save-btn {
    width: 10rem;
    height: 4rem;
    border: 0;
    border-radius: 10px;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    color: #14274e;
    background-color: #9ba4b4;
    transition: 0.25s;
}

.save-btn:hover {
    background-color: rgb(204, 208, 216);
}

/* Navbar stylings */
.navBar {
    color: #f1f6f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 30rem;
    font-size: 2rem;
    padding: 1rem;
    text-align: left;
    position: fixed;
}

.nav-heading {
    padding: 1.5rem 2rem;
    font-size: 1.5em;
    font-weight: 600;
    align-self: left;
}

.nav-hr {
    margin: 1rem 1rem;
    outline: none;

}

.nav-link {
    padding: 2rem;
    font-size: 2rem;
}

/* Main section stylings */
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    padding-left: 25rem;
    padding-top: 18rem;
}

.main-section h2 {
    width: 100rem;
    max-width: 90%;
    color: #20385c;
    font-size: 7.5rem;
    font-weight: 400;
    padding-left: 2rem;
}

.task-list {
    max-height: 20rem;
    overflow-y: scroll;
    color: #f1f6f9;
    border-radius: 5px;
    margin-top: 2rem;
    padding-right: 1rem;
}

.task-list::-webkit-scrollbar-track-piece {
    color: rgb(255, 127, 28);
}

.task-item {
    border: 1px solid #f1f6f9;
    border-radius: 4px;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    background-color: #61616b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}

.task-info {
    font-size: 0.75em;
    width: 10em;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-list-wrapper {
    max-width: 90%;
    width: 100rem;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 2.5rem;
    font-size: 2rem;
}

.main-section button {
    width: 8rem;
    height: 8rem;
    border: none;
    margin-top: 2rem;
    background-color: #f96d00;
    font-size: 5rem;
    border-radius: 50%;
    color: #f1f6f9;
    transition: 200ms;
}

.main-section button:hover {
    background-color: rgb(255, 127, 28);
}

.task-priority {
    height: 100%;
    width: 3em;
    background-color: red;
}