*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-primary: #14213D;
    --clr-secondary: #F5A522;
    --clr-bg: #E5E5E5;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 1em 1.5em 1em;
}

.logo img {
    width: 10rem;
}

.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-family: 'Boogaloo', cursive;
    width: 5em;
    height: 1.5em;
    color: #fff;
    background-color: var(--clr-secondary);
    border-radius: 5px;
}

.header-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    font-family: 'Boogaloo', sans-serif;
    letter-spacing: 0.2em;
    color: var(--clr-primary);
    background-color: var(--clr-bg);
}

.toggle-lists {
    padding: 0.2em 1em;
}


.bs-text {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.bs-btn {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}






